


body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #282323;
    position: fixed; 
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4b7e4c;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }