
.container {
  /* background-color: #282c34; */
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 20fr 0fr;
  grid-template-columns: 2 fr 4fr;
  gap: 10px;
  grid-template-areas: 
    "navBar navBar"
    " empty content"
    "footer footer"

}



.navBar {
  /* background-color: rgb(48, 77, 61); */
  grid-area: navBar;
  
}


.content {

  /* background-color: rgb(235, 228, 228); */
  grid-area: content;
  grid-template-columns: 100%;
  /* min-height: 100vh;  
  min-height: 100%; 
  flex-direction: row-reverse;
  flex-flow: column-reverse wrap-reverse; */
  
}



.footer {
  /* background-color: burlywood; */
  grid-area: footer;
  position:relative; 
left:0;
bottom:0;
right:0;
color: rgb(8, 8, 8)
}






/* a.active {
  color:white
} */

/* #loggedin {
  font-size: 16px
} */


